.form_w {
  background-color: #242424;
  overflow: hidden;

  >form {
    padding: 100px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    position: relative;
    z-index: 10;

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
      height: 160vh;
      bottom: 400px;
    }

    >img {
      width: 100%;
    }

    >video {
      width: 100%;
    }

    .form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 50px;

      .title {
        font-weight: 700;
        font-size: 48px;
        color: #ffffff;
        margin-bottom: 30px;
      }

      input {
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid white;
        padding: 15px 0;
        color: white;

        &::placeholder {
          color: white;
        }
      }

      input[type="submit"] {
        background-color: black;
        color: white;
        border: 1px solid black;
        padding: 15px 25px;
        border-radius: 24px;
        width: fit-content;

        @media screen and (max-width: 600px) {
          width: 100%;
          display: none;
        }
      }
    }

    .img_upload {
      display: flex;
      align-items: flex-end;

      >div {
        width: 100%;
      }
    }
  }

  .hors {
    position: absolute;
    right: -70px;
    top: -500px;
    width: 38%;
  }

  .lineb {
    img {
      width: 100%;
    }
  }

  .logos_slider__wrap {
    background-color: black;
  }
}

.nonImg_w {
  overflow: hidden;
  height: 550px;
  position: relative;
  display: none;
  width: 100%;

  @media screen and (max-width: 600px) {
    display: block;
    overflow: hidden;
  height: 1000px;
  position: relative;
  width: 100%;
  }

  @media screen and (max-width: 425px) {
    display: block;
    overflow: hidden;
  height: 600px;
  position: relative;
  width: 100%;
  }
}

.nonImg {
  position: absolute;
  top: 650px;
  transform: translate(10%);
width: 100%;
left: -40px;


@media screen and (max-width: 425px) {
  top: 400px;
}

@media screen and (max-width: 375px) {
  top: 300px;
}
}

@media screen and (max-width: 600px) {
  :global {
    .slick-slide img {
      width: 100%;
    }
  }
}

.reg__phone__cont{
  width: 100%;
  display: flex;
  justify-content: center;
}

.reg__phone{
 display: none;

  @media screen and (max-width: 600px) {
    display: block;
    width: 100%;
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 15px 25px;
    border-radius: 24px;
    width: fit-content;
  }
}