.card_w{
    border-radius: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 300px;
    padding: 30px;
    @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    height: fit-content;
        
    }
    .left_w{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title{
            font-weight: 700;
            font-size: 35px;
            color: white;
        }
        button{
            border-radius: 25px;
            background-color: black;
            padding: 10px 30px;
            color: white;
            width: fit-content;
            @media screen and (max-width: 600px) {
                display: none;
            }
        }
    }
    .right_w{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        img{
            width: 100%;
            @media screen and (max-width: 600px) {
                width: 200px;

                }
        }
        button{
            border-radius: 25px;
            background-color: black;
            padding: 10px 30px;
            color: white;
            width: 100%;
            display: none;
            @media screen and (max-width: 600px) {
            display: block;
                
            }
        }
    }
}