.container{
  width: 85%;
  margin: 0 auto;
}
a{
  text-decoration: none;
  color: white;
}
button{
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.uploader {
  border: #333333 solid;
  box-sizing: content-box;
  width: 300px;
  height: 300px;
  cursor: pointer;
  display: flex;
  margin: auto;
}

.uploader p {
  margin: auto;
  color: #CACCCD;
  font-size: 17px;
  font-weight: 600;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #333333;
}

.uploaded-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.other-image-thumbnails {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.img-thumb {
  width: 140px;
  height: 120px;
  border: 1px solid purple;
  object-fit: cover;
  flex: 1;
}